<!doctype html>
<html lang="en">
<head>
    <!--img src="../../static/images/home page image/home page image.png" alt="carousel" height="400" width="400"/>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/slideshow.css" rel="stylesheet">
    <link href = "../static/css/python.css" rel = "stylesheet">
    <script src = "../static/js/slideshow.js"></script>
        <title>Website</title>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <header class="mb-5">
            <!-- As a link -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">Glossary</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="base.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="git.html">GIT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="docker.html">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cicd.html">CI/CD Process</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="python.html">Python/Flask</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="AAA.html">AAA Testing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="oops.html">OOPs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="solid.html">SOLID</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <div class = "container">
        <img src="../../static/images/glossary.png" height="300" width="400"/>
    </div>
<body>
<p><b>Instantiation:</b> Instantiate or instantiation in computer science refer to the creation of an object or an “instance” of a given class in an object-oriented programming.
Referencing a class declaration, an instantiated object is named and created, in memory or on disk. Resources are allocated for it, it gains a place in the general codebase as a whole and it fills a role in what the programmers are constructing. It also is delineated or identified with its own attributes. In general terms, to “instantiate” an object just means to create it, again, as an instance of a class. But there are technical aspects to how this is done. The terminology can be confusing. The connection of “instantiate” to “instance” helps, but for those who do not practically work on OOP, the jargon might still seem pretty opaque. The key is to fully understand what a class is, what an object is and how the two are different, as well as how an object works in code, what it holds and what it means to create an object.</p>
<p><b>Class:</b> The class is one of the defining ideas of object-oriented programming. Some important ideas about classes are:
<ul>
    <li>A class can have subclasses that can inherit all or some of the characteristics of the class. In relation to each subclass, the class becomes the superclass.</li>
    <li>Subclasses can also define their own methods and variables that are not part of their superclass.</li>
    <li>The structure of a class and its subclasses is called the class hierarchy.</li>
</ul>
</p>
<p><b>Object:</b> The concept behind object-oriented programming is that you, as a programmer, can construct your application more-quickly, by relying on objects that have certain pre-defined behaviors, without your having to know how they do what they do. In addition, the “mental complexity” is greatly reduced, because you can think of (potentially huge) areas of code just as objects that do a particular job. Think of it as the difference between hiring someone to do something when you ask them to, as opposed to having to do the thing yourself. In a more technical sense, “objects” are the result of “classes”— objects are said to be
    “class instances”. The benefit of using objects is that the interaction between the code that uses them and the objects themselves is tightly defined by the interface between them </p>
<p><b>Namespace:</b> A namespace is a declarative region that provides a scope to the identifiers (the names of types, functions, variables, etc) inside it. Namespaces are used to organize code into logical groups and to prevent name collisions that can occur especially when the code base includes multiple libraries. </p>
<p><b>Constructor:</b> A constructor is a special method of a class or structure in object-oriented programming that initializes a newly created object of that type. Whenever an object is created, the constructor is called automatically. A constructor is like an instance method that usually has the same name as the class, and can be used to set the values of the members of an object, either to default or to user-defined values. However, although it resembles it, a constructor is not a proper method since it doesn’t have a return type. Instead of performing a task by executing code, the constructor initializes the object, and it cannot be static, final, abstract, and synchronized.</p>
<p><b>Fixture:</b> Test fixture refers to the fixed state used as a baseline for running tests in software testing. The purpose of a test fixture is to ensure that there is a well known and fixed environment in which tests are run so that results are repeatable. Some people call this the test context. Some example of fixtures are:
<ul>
    <li>Loading a database with a specific, known set of data.</li>
    <li>Erasing a hard disk and installing a known clean operating system installation.</li>
    <li>Copying a specific known set of files.</li>
    <li>Preparation of input data and set-up/creation.</li>
</ul></p>
<p><b>Type Hint:</b> Type hinting is a formal solution to statically indicate the type of a value within a Python code. It was specified in PEP 484 and introduced in Python 3.5.</p>
<p><b>Type Cast:</b> Type casting refers to changing an variable of one data type into another. The compiler will automatically change one type of data into another if it makes sense. For instance, if one assigns an integer value to a floating-point variable, the compiler will convert the int to a float. Casting allows users to make this type conversion explicit, or to force it when it wouldn’t normally happen.</p>
<p><b>Unit Test:</b> A unit test is a way of testing a unit - the smallest piece of code that can be logically isolated in a system. In most programming languages, that is a function, a subroutine, a method or property.</p>
<p><b>Static:</b> is a keyword that can be used to declare a member of a type so that it is specific to that type. The static modifier can be used with a class, field, method, property, operator, event or constructor. A static member of a class can be used to keep track of the instances created and maintain common data to be shared among all instances. It can be used in helper and utility classes, which usually contain generic methods that contain abstractions of pure logic. A static constructor is used to make entries in log files, as well as in wrapper class to load the dynamic link libraries (DLLs) required to execute unmanaged code. In general, a static modifier can be used with data and functions that do not require an instance of a class to be accessed. It is mostly used when the data and behavior of a class do not depend on object identity. The use of static classes and members improves code efficiency.</p>
<p><b>Instance Method:</b> An instance method is a method that belongs to instances of a class, not to the class itself. To define an instance method, just omit static from the method heading. Within the method definition, you refer to variables and methods in the class by their names, without a dot. </p>
<p><b>Instance Property:</b> A typical property declared in a class is an instance property, meaning that you have a copy of that property's value for each instance of the class. You can also define static properties, which are properties that have a single value for the entire class, regardless of the number of instances of the class that exist</p>
<p><b>Static Method:</b> A static method (or static function) is a method defined as a member of an object but is accessible directly from an API object's constructor, rather than from an object instance created via the constructor.</p>
<p><b>Static Property:</b> A static property or method acts somewhat like a globally accessible function or variable. Simply import the class, and you can read the same value from anywhere else in the program. It’s usually not advisable to rely on global variables as they can lead to spaghetti code, but that’s not to say that they can’t be used. Sometimes the simplest solution is the best one. This works well with constants </p>
<p><b>Encapsulation:</b> In object-oriented computer programming (OOP) languages, the notion of encapsulation (or OOP Encapsulation) refers to the bundling of data, along with the methods that operate on that data, into a single unit. Many programming languages use encapsulation frequently in the form of classes. Encapsulation may also refer to a mechanism of restricting the direct access to some components of an object, such that users cannot access state values for all of the variables of a particular object. Encapsulation can be used to hide both data members and data functions or methods associated with an instantiated class or object.</p>
<p><b>Inheritance:</b> Inheritance is the procedure in which one class inherits the attributes and methods of another class. The class whose properties and methods are inherited is known as the Parent class. And the class that inherits the properties from the parent class is the Child class. The interesting thing is, along with the inherited properties and methods, a child class can have its own properties and methods.</p>
<p><b>Polymorphism:</b> A polymorphism is part of mathematic type theory. In computer science, a polymorphic object is an object that is capable of taking on multiple forms. The kind of polymorphism the object undergoes depends on when the object takes its form and what part of the object is transforming. Polymorphism is essential to object-oriented programming (OOP). Objects are defined as classes. They can have properties and methods.</p>
<p><b>Abstraction:</b> Abstraction is the concept of object-oriented programming that "shows" only essential attributes and "hides" unnecessary information. The main purpose of abstraction is hiding the unnecessary details from the users. Abstraction is selecting data from a larger pool to show only relevant details of the object to the user. It helps in reducing programming complexity and efforts. It is one of the most important concepts of OOPs.</p>
<p><b>Overview of SOLID:</b> SOLID is an acronym for five principles that help software developers design maintainable and extendable classes. It stands for Single responsibility, Open-closed, Liskov substitution, Interface segregation and Dependency inversion. The SOLID principle is a design principle and pattern intended to make software designs more understandable, flexible, and maintainable. When creating an object, the object’s design is essential in the software development process, notably in deciding the accessibility scope.

The object case scenario might confuse newbies in software development. Here’s a better analogy; imagine if cups had their handles at the top rather than at the side. How accessible or comfortable would it be to use this cup (object)? But if the handle remains at the side, they remain readily accessible and comfortable to use.

In a software development lifecycle, the decision on how accessible and flexible an object is during this object’s design phase will ensure its usability, simplicity, ease of implementation, and accessibility towards making reliable software.</p>
<p><b>Overview of Design Patterns:</b> Design patterns are the ready descriptions giving solutions to repetitive and typical project problems.

They are the results of experience, hard work and a great number of trials and errors. They also represent considered and best practices of object-oriented programming (SOLID, DRY, KISS and YAGNI). The patterns became an element of communication among programmers and they are an element of every engineer’s primer.

In general, design patterns are nothing else than walkthroughs for repetitive problems, which were worth writing down and understanding. It is worth noticing that design patterns don’t suggest a direct implementation of a solution, but are only an outline of a structure with some characteristic aspects that should be adapted to our needs.</p>
</body>
</div>