<!doctype html>
<html lang="en">
<head>
    <!--img src="../../static/images/home page image/home page image.png" alt="carousel" height="400" width="400"/>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/slideshow.css" rel="stylesheet">
    <script src = "../static/js/slideshow.js"></script>
        <title>Project 1</title>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <header class="mb-5">
            <!-- As a link -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">CI/CD Process</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="base.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="git.html">GIT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="docker.html">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="python.html">Python</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class = "container">
    <img src="../static/images/CI-CD.png" height="400" width="500"/>
</div>
    <body>
    <p><b>Continuous Integration:</b> Continuous integration (CI) is the practice of automating the integration of code changes from multiple contributors into a single software project. It allows developers to frequently merge code changes into a central repository where builds and tests then run. Automated tools are used to assert the new code’s correctness before integration. CI is a development practice where developers integrate code into a shared repository frequently, preferably several times a day. Each integration can then be verified by an automated build and automated tests. While automated testing is not strictly part of CI it is typically implied. One of the key benefits of integrating regularly is that you can detect errors quickly and locate them more easily. As each change introduced is typically small, pinpointing the specific change that introduced a defect can be done quickly.</p>
    <p><b>Continuous Deployment:</b> Continuous deployment is a strategy for software releases wherein any code commit that passes the automated testing phase is automatically released into the production environment, making changes that are visible to the software's users. It eliminates the human safeguards against unproven code in live software. It should only be implemented when the development and IT teams rigorously adhere to production-ready development practices and thorough testing, and when they apply sophisticated, real-time monitoring in production to discover any issues with new releases.</p>
    <p><b>Github Actions:</b> GitHub Actions is a continuous integration and continuous delivery (CI/CD) platform that allows one to automate build, test, and deployment pipeline. One can create workflows that build and test every pull request to the directed repository, or deploy merged pull requests to production. The current project uses workflows which is a configurable and automated process that will run one or more jobs. In this case, workflows contains .yml file checked in to this project's repository and runs when triggered by a commit and pull request in its repository. They can also be triggered manually, or at a defined schedule.</p>
    <p> Once the master branch is updated including <i>dev</i> and <i>live</i> for the current project, it is committed and pushed to the Github repository. Afterward, the worflows in the Github Actions runs, builds, and tests the files. The Dockerhub automatically gets updated after the merge and pull requests have been made. In the end, it finally updates the apps created on the Heroku host server, deploying it in the website.</p>
    </body>
