<!DOCTYPE html>
<head>
	<meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kirwin - IS218</title>
    <!--Link for Main CSS -->
    <link href= "../static/css/main.css" rel = "stylesheet">
	<!-- BSv5 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous">
	<!-- JS for BSv5 in case we need to use in the future -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</head>
    <nav class = "navbar navbar-expand-lg navbar-dark">
		<a class = "navbar-brand" href = "#">Git</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class = "collapse navbar-collapse" id = "navbarNav">
            <ul class = "navbar-nav ms-auto">
			    <li class = "nav-item"><a class = "nav-link" href = "index.html">Home</a></li>
			    <li class = "nav-item"><a class = "nav-link" href = "dockerPage.html">Docker</a></li>
			    <li class = "nav-item"><a class = "nav-link" href = "pythonPage.html">Python/Flask</a></li>
			    <li class = "nav-item"><a class = "nav-link" href = "cicdPage.html">CI/CD</a></li>
		    </ul>
        </div>
	</nav>
<div class = "container-fluid">
    <div class = "container-fluid">
        <p id = "gitIntro">
            Git is a terminal application that allows you to use any operating system as if it was Linux.
            It is very similar to Windows Powershell, and it allows you to use certain packages that Windows
            normally would not allow you to use. GitHub was created to have a hosting site for programmers and
            allows developers to share and have a common place to work on code as well while using git.
            <br><br>
            I'm going to explain some terminologies that are mainly used when talking about Git/GitHub.
        </p>
    </div>
    <div class = "container-fluid">
        <p id = "branch"><b>Branch: </b>is a different version of the same project. An example of a branch is
            like this project, there is a development branch where I tested a LOT of different changes with unused
            files for this project like the calculator files. There could be a lot of different branches for multiple
            purposes, it depends on the end goal of that branch. Click on the branch you want to see:
        </p>
        <ul>
            <li><a href = "https://github.com/KirwinAl/flask/tree/live">Live Branch</a> <-- You're seeing this one</li>
            <li><a href = "https://github.com/KirwinAl/flask/tree/dev">Development Branch</a></li>
        </ul>
        <p id = "merge"><b>Merge: </b> is taking the changes from one branch then adding them to the other, mainly the
            master branch. They usually start with a pull request (reviewing the changes from the main/master branch)
            then will go through with it once accepted.
        </p>
        <p id = "commit"><b>Commit: </b> is like the local "Save As" function. That will allow you to see what code
            changed, see which branch you're going to be working on, save the code with tags. You can
            <i>commit and push</i> meaning to do all of this and then move it to the main remote branch as working and
            usuable code.
        </p>
        <p id = "tags"><b>Tags: </b> are the notes written onto the commit to dictate what changed between the old
            version and the version you're going to push soon. You can also use this to dictate the important files
            of the project if you like, they could be added during, or after they are pushed.
        </p>
        <p id = "repositories"><b>Repositories: </b> are like the storage container of the project. This will store
            all the project's files, branches, etc. This is what shared between users if they wanted to replicate the
            project. To see this project's repository: <a href = "https://github.com/KirwinAl/flask">https://github.com/KirwinAl/flask</a>
        </p>
    </div>
    <div class = "container mx-auto">
        <div class = "row justify-content-center justify-content-between">
            <div class = "col">
                <button onclick="location.href = 'index.html'" type = "button">
                    &#10094 Return Home
                </button>
            </div>
            <div class = "col">
                <button onclick="location.href = 'dockerPage.html'" type = "button">
                    Proceed to Docker &#10095
                </button>
            </div>
        </div>
    </div>
</div>
