<!doctype html>
<html lang="en">
<head>
    <!--img src="../../static/images/home page image/home page image.png" alt="carousel" height="400" width="400"/>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="../static/css/slideshow.css" rel="stylesheet">
    <link href = "../static/css/python.css" rel = "stylesheet">
    <script src = "../static/js/slideshow.js"></script>
        <title>Project 2</title>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <header class="mb-5">
            <!-- As a link -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="#">OOPs</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href="base.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="git.html">GIT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="docker.html">Docker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cicd.html">CI/CD Process</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="python.html">Python/Flask</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="glossary.html">Glossary</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="aaatesting.html">AAA Testing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="solid.html">SOLID</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class = "container">
        <img src="../static/images/OOPs.png" height="300" width="400"/>
    </div>
    <body>
    <p><b>Encapsulation:</b> Encapsulation refers to a mechanism of restricting the direct access to some components of an object, such that users cannot access state values for all the variables of a particular object. Encapsulation can be used to hide both data members and data functions or methods associated with an instantiated class or object.  Many programming languages use encapsulation frequently in the form of classes. A class is a program-code-template that allows developers to create an object that has both variables (data) and behaviors
    Below is an example of calculator class used in this project. The calculator class has been instantiated and all the operations and modifications of the code generate through the class. </p>
    <p> Some key benefits of encapsulation in object-oriented programming are:
        <ul>
        <li>Hiding data</li>
        <li>More flexibility</li>
        <li>Easy to reuse</li>
    </ul>
    </p>
    <div class = "container">
        <img src="../static/images/encapsulation.png" height="300" width="400"/>
    </div>
    <p><b>Inheritance:</b> Inheritance is a mechanism that allows one class to gain the properties of another class, in the same way, that a child inherits some attributes from each of their parents. Inheritance allows programmers to create a new class that reuses the data members and methods of an existing class.
        The image here refers to the add method which is a child function of the class created called "calculator" with "calcular=Calculator()". The code basically takes the attribute of the calculator class and creates its method for addition, as an example.
    <div class="container">
        <img src="../static/images/inheritance.png" height="300" width="400"/>
    </div>
    <p><b>Abstraction:</b> Abstraction occurs when a programmer hides any irrelevant data about an object or an instantiated class to reduce complexity and help users interact with a program more efficiently. The term abstraction vs encapsulation can be used to describe the process of hiding some of the information contained in an object or class, but it may also refer to the object itself. An abstraction is any named entity that contains a selection of data and behaviors specific to a particular usage of the originating entity.
        is used to hide background details or any unnecessary implementation about the data so that users only see the required information. In this case, the image below refers to an irrelevant information that is not necessarily needed for to show in the functionality, however, its there for the viewer to easily interact with the code. It helps a user not only communicate better with the program but understand the action steps taken to run a code successfully. Based on the image below, the lines in grey that start with an hashtag (#) are an example of abstraction.
    <div class="container">
        <img src="../static/images/inheritance.png" height="300" width="400"/>
    </div>
    <p><b>Polymorphism:</b> Polymorphism refers to any object that is capable of taking on multiple forms. The kind of polymorphism the object undergoes depends on when the object takes its form and what part of the object is transforming. Let's consider the number "1" as the core for understanding the concept of polymorphism in this project. Number "1" combined with another number "1" gives different forms of results
        based on its methods of add, subtract, and multiply. Based on the image below, adding 1 and 1 results to "2" while subtracting 1 and 1 results "0", and multiplying 1 and 1 results to "1". Therefore ,this explains how the similar numbers portrays different forms of results based on its method. This explains the concept of polymorphism.
    <div class="container">
        <img src="../static/images/polymorphism.png" height="300" width="400"/>
    </div>
    </body>


